<div id="page_wrapper">
	
	<%=form_for @post do |t| %>
	<!-- errors -->
	<% if @post.errors.any? %>
	<div id="errors">
			<% @post.errors.full_messages.each do |t|%>
	<ul>
		<li>
			<%= t %>
		</li>
	</ul>
    <% end %>

	</div>
	<% end %>

	<p><%= t.label :title %>
	<%= t.text_field :title %></p>
	<p><%= t.label :body %>
	 <%= t.text_area :body %></p>
	<p><%= t.submit%></p>
<% end %>
</div>

