<html>
<head>
	<title></title>
</head>
<body>
<%=form_for :post do |t| %>
	<p><%= t.label :title %></p>
	<p> <%= t.text_field :title %></p>
	<p><%= t.label :body %></p>
	<p> <%= t.text_area :body %></p>
	<p><%= t.submit%></p>
<% end %>
</body>
</html>